numpy
torch
torchaudio
torchvision
easydict
scipy
ipywidgets
diffusers
easydict
cssutils
shapely
lightning
imageio
imageio-ffmpeg
scikit-image
wandb
moviepy
matplotlib
cairosvg
einops
transformers
accelerate
opencv-python
triangle
bezier

svgwrite
svgpathtools
cssutils
numba
torch-tools
visdom
