numpy
torch
torchaudio
torchvision
easydict
scipy
ipywidgets
diffusers
easydict
cssutils
shapely
lightning
imageio==2.19.3
imageio-ffmpeg==0.4.7
scikit-image
wandb
moviepy
matplotlib
cairosvg
einops
transformers
accelerate
opencv-python
triangle
bezier

svgwrite
svgpathtools
cssutils
numba
torch-tools
visdom
